:root{
  --background_color : black;
  --font_color : antiquewhite;
}

body{
  background-color: var(--background_color);
  color: var(--font_color)
}

h1{
  padding:2%;
}

.center {
  text-align: center;
}

.btn_custom{
  border-color: aliceblue;
  color:var(--font_color);
}

.danger_border{
  border-width: 3px;
  border-color: red;
}

.danger_border_focus:focus {
  border-width: 3px;
  border-color: red;
}

.complete_border{
  border-width: 3px;
  border-color: green;
}

.complete_border_focus:focus{
  border-width: 3px;
  border-color: green;
}

.text_area{
  height: 200px;
}

#userText:focus {
  box-shadow: none;
}

#s_length:focus{
  box-shadow:none;
}

#s_length{
  width: 100px;
  border-radius: 0;
}
