:root{
  --background_color : black;
  --font_color : antiquewhite;
}

body{
  background-color: var(--background_color);
  color: var(--font_color)
}

h1{
  padding:2%;
}

.center {
  text-align: center;
}

.btn_custom{
  border-color: aliceblue;
  color:var(--font_color);
}

.danger_border{
  border-width: 3px;
  border-color: red;
}

.danger_border_focus:focus {
  border-width: 3px;
  border-color: red;
}

.complete_border{
  border-width: 3px;
  border-color: green;
}

.complete_border_focus:focus{
  border-width: 3px;
  border-color: green;
}

.text_area{
  height: 200px;
}

.input-group{
  width: auto
}

.col{
  margin-bottom: 10px;
}

.popupwindow{
  width:50%;
  
  background-color: rgb(137, 190, 139);
  color: black;
  position:absolute;
  top:25%;
  right:25%;
  border-radius: 5%;
  text-align: center;
  padding:2%;
}

.popupwindow button{
  border-width:2px;
  background-color: antiquewhite;
  border-color: black ;
  font-size: large;
  font-weight: 600;
}

.popupbg{
  width:100vw;
  height:100vh;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.displaynone{
  display: none;
}

.center{
  text-align: center;

}

.center button{
  width:100px;
  background-color: brown;
}

#userText:focus {
  box-shadow: none;
}

#s_length:focus{
  box-shadow:none;
}

#s_length{
  width: 100px;
  border-radius: 0;
}
